<h3>Grocery Items</h3>
<p>Add Grocery Item</p>
<div style="width: 400px;">
    <form (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="name">Item Name</label>
        <input type="text" class="form-control" id="name" required [(ngModel)]="item.name" name="name">
      </div>
  
      <div class="form-group">
        <label for="name">Quantity</label>
        <input type="text" class="form-control" id="quantity" required [(ngModel)]="item.quantity" name="quantity">
      </div>
  
      <div class="form-group">
        <label for="name">Calories</label>
        <input type="text" class="form-control" id="calories" required [(ngModel)]="item.calories" name="calories">
      </div>

      <div class="form-group">
        <label for="name">Purchase Date</label>
        <input type="text" class="form-control" id="purchase_date" required [(ngModel)]="item.purchaseDate" name="purchase_date">
      </div>
  
      <div class="form-group">
        <label for="name">Expiration Date</label>
        <input type="text" class="form-control" id="expiration_date" required [(ngModel)]="item.expirationDate" name="expiration_date">
      </div>

      <div class="form-group">
        <label for="name">Consumption Date</label>
        <input type="text" class="form-control" id="consumption_date" required [(ngModel)]="item.consumptionDate" name="consumption_date">
      </div>
  
      <button type="submit" class="btn btn-success">Submit</button>
    </form>
  </div>
  
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h2>Grocery Lists</h2>
    </div>
    <div class="panel-body">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Item Name</th>
            <th>Quantity</th>
            <th>Calories</th>
            <th>Purchase Date</th>
            <th>Expiration Date</th>
            <th>Consumption Date</th>
            <th>Donate</th>
            <th>Update</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item1 of groceryItemsList | async">
            <td>{{item1.name}}</td>
            <td>{{item1.quantity}}</td>
            <td>{{item1.calories}}</td>
            <td>{{item1.purchaseDate}}</td>
            <td>{{item1.expirationDate}}</td>
            <td>{{item1.consumptionDate}}</td>
            <td><button (click)="donate(item1.idItem)" class="btn btn-danger">Donate</button>
            <td><button (click)="update(item1)" class="btn btn-success">Edit</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>